<div class="card">
    <div class="card-body">
        <h1>{{livro.nome}}</h1>
        <hr>
        <small>Data de publicação: {{livro.publicado}}</small>
        <hr>
        {{livro.resenha}}
    </div>
</div>